body{
    background-image: url(/img/kratos.png);
    background-size: cover;
    }
    img{
    margin-right: 400px;
    width: 1000px;     
    }
    .start{
        margin-bottom: 100px;
        width: 300px;
        height: 100px;
        margin-left: 330px;
    }
    .chapters{
        margin-bottom: 100px;
        width: 300px;
        height: 100px;
        margin-left: 85px;
    }
    .credits{
        margin-bottom: 150px;
        width: 300px;
        height: 100px;
        margin-left: 10px;
        margin: 10px;
    }

    /* page 1 */
  