body{
    background: url(/img/background.png);
    background-size: 100%;
  }
  .thorkell{
      margin: 20px;
      float: right;
  }
  .xrune{
     float: right;
     margin-top: -440px;
     margin-right: 100px;
  }
  .bluerune{
    float: left;
    margin-top: 550px;
    margin: -10px;
  }
  .greenrune{
    float: left;
    margin-right: 400px;
  }
  .rune{
   float: right;
  margin-right: -30%;
  }
  .ColOrd{
    margin-right: 300px;
    margin: 10;
  }
  .numor{
    margin-top: -400px;
   float: left 300px;
  }
  :root {
    cursor: none;
    --cursorX: 50vw;
    --cursorY: 50vh;
  }
  :root:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
    background: radial-gradient(
      circle 10vmax at var(--cursorX) var(--cursorY),
      rgba(0,0,0,0) 0%,
      rgb(0, 0, 0) 80%,
      rgb(0, 0, 0) 100%
    )
  }